<!DOCTYPE html>
<html>

<head>
    <title>User</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <div>IDで指定されたユーザーを表示する</div>
    <%= user.name %>
</body>

</html>